.l-aside {
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: auto;
  transition: right ease-out .1s;
  .is-active-menu & {
    right: 0;
  }
}

@include media(min, md) {
  .l-aside {
    width: 19.11458%;
    position: static;
    height: auto;
    overflow: visible;
    background-color: $color-bg-beige2;
  }
}