.p-main-visual {
  background-image: url("../images/top/top_mainVisual_sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__catch-copy {
    padding: 119px 0 115px 25px;
    color: $color-txt-white;
    font-size: 3.6rem;
    font-weight: 700;
  }
}

@include media(min, sm) {
  .p-main-visual {
    background-image: url("../images/top/top_mainVisual_tab.jpg");
    &__catch-copy {
      padding: 117px 0 115px 86px;
    }
  }
}

@include media(min, md) {
  .p-main-visual {
    background-image: url("../images/top/top_mainVisual_pc.jpg");
    &__catch-copy {
      padding: 231px 0 243px 86px;
    }
  }
}